# Infinity Pay
VITE_INFINITEPAY_HANDLE=capitalqueen
VITE_INFINITEPAY_API_URL=https://api.checkout.infinitepay.io

# WhatsApp
WHATSAPP_NUMBER=5561993629392

# Servidor
PORT=5000
NODE_ENV=development

# URLs
VITE_REDIRECT_URL=http://localhost:5173/pagamento-confirmado
VITE_WEBHOOK_URL=http://localhost:5000/api/webhook/infinitepay
